path {
  fill: white;
  stroke: black;
  width: auto;
}


circle.circle {
  fill: steelblue;
  r: 2px;
}

circle.circle:hover {
  fill: red
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  width: auto;
